<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div class="ui menu">
            <a class="item" href="/posts"><strong>Openshare|</strong>Home page</a>
            <div class="right menu">
                <a class="item" href="/posts/new">New Post</a>
            </div>
        </div>